@import url('stylesvar.css');

.app {
  background-color: var(--mainLight);
  padding: 50px 0;
  font-size: 16px;
}

.title {
  color: var(--colorDark);
  margin: 0;
}

.app-title {
  text-transform: capitalize;
  font-size: 36px;
}

.box-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.box-content {
  display: block;
  margin: 30px 0;
  width: 100%;
}