:root {
    /* colors */
    --colorGreen: #23ba99;
    --colorRed: #f4313f;
    --colorBlue: #3650c7;
    --colorLight: #f5f5f5;
    --colorSilver: #e9eaee;
    --colorGrey: #d2d2d2;
    --colorDark: #434343;
    --colorWhite: #ffffff;
}